<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
                <link href="{{url_for('static',filename='css/main.css')}}" rel="stylesheet">
                <script src="{{url_for('static',filename='js/all.min.js')}}"></script>
		<title>Cliente - perfil</title>
	</head>
	<body>
        {% import "macros/Navbar.html" as macroNavbar %}
        {% import "macros/Contenedores.html" as macroContenedores %}
        {{ macroNavbar.NavbarCliente(check_user_logged_in()) }}
        <h1 class="text-lg font-bold my-4 mx-10 text-center">Mi perfil</h1>
        {{ macroContenedores.ContenedorPerfil(anchorLogout) }}
       </body>
</html>

