<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
                <link href="{{url_for('static',filename='css/main.css')}}" rel="stylesheet">
                <script src="{{url_for('static',filename='js/all.min.js')}}"></script>
		<title>Index - Cliente</title>
	</head>
	<body>
	{% import "macros/Navbar.html" as macroNavbar %}
	{{ macroNavbar.NavbarCliente(check_user_logged_in()) }}
	<div class="my-8 container grid grid-cols-1 sm:grid-cols-2 items-center w-full sm:w-3/4 mx-auto">
	    <div class="bg-gray-300 h-64"></div>
	    <button class="bg-blue-500 text-white mx-auto hover:bg-blue-700 my-4 px-4 py-2 rounded" onclick="location.href='/menu'">Menú</button>
	</div>
	<div class="my-8 container grid grid-cols-1 sm:grid-cols-2 items-center w-full sm:w-3/4 mx-auto">
	    <button class="bg-blue-500 text-white mx-auto hover:bg-blue-700 my-4 px-4 py-2 rounded" onclick="location.href='/reservar'">Reservar</button>
	    <div class="bg-gray-300 h-64"></div>
	</div>
	</body>
</html>

