<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
                <link href="{{url_for('static',filename='css/main.css')}}" rel="stylesheet">
                <script src="{{url_for('static',filename='js/all.min.js')}}"></script>
		<title>Metodo Pago</title>
	</head>
	<body>
		{% import "macros/Navbar.html" as macroNavbar %}
		{% import "macros/Formularios.html" as macroFormularios %}
		{% import "macros/Contenedores.html" as macroContenedores %}
		{{ macroNavbar.NavbarCliente(check_user_logged_in()) }}
		<h2 class="text-lg text-center font-bold my-4">Método de pago</h2>
		{{ macroContenedores.ContenedorUbicacion() }}
		{{ macroFormularios.FormularioPedidos(check_user_logged_in()) }}
	</body>
</html>

