<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
		<link  rel="stylesheet" href="{{ url_for('static', filename='css/estilosEmpleado.css')}}">
		<link  rel="stylesheet" href="{{ url_for('static', filename='css/formularios.css')}}">
		<title>Disponibilidad mesas</title>
	</head>
	<body>
        {% import "macros/Navbar.html" as macroNavbar %}
        {{ macroNavbar.Navbar() }}
        <h1>Actualizar disponibilidad mesa</h1>
        {% import "macros/Formularios.html" as macroFormularios %}
        {{ macroFormularios.ActDisponibilidadMesa() }}
	</body>
</html>

