<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
                <link href="{{url_for('static',filename='css/main.css')}}" rel="stylesheet">
		<title>Index - Empleado</title>
	</head>
	<body>
        {% import "macros/Navbar.html" as macroNavbar %}
        {{ macroNavbar.Navbar() }}
	<div
	    class="mx-auto my-20 container grid grid-cols-1 sm:grid-cols-2 gap-1 w-full sm:w-7/12 sm:gap-x-20 md:gap-x-28 sm:gap-y-10 content-center">
	    <div class="grid grid-rows-5 py-2 gap-y-5">
		<div class="bg-gray-400 row-span-4">
		</div>
		<p class="row-span-1 font-bold text-center">Subtitle 1</p>
	    </div>
	    <div class="grid grid-rows-5 py-2 gap-y-5">
		<div class="bg-gray-400 row-span-4">
		</div>
		<p class="row-span-1 font-bold text-center">Subtitle 2</p>
	    </div>
	    <div class="grid grid-rows-5 py-2 gap-y-5">
		<div class="bg-gray-400 row-span-4">
		</div>
		<p class="row-span-1 font-bold text-center">Subtitle 3</p>
	    </div>
	    <div class="grid grid-rows-5 py-2 gap-y-5">
		<div class="bg-gray-400 row-span-4">
		</div>
		<p class="row-span-1 font-bold text-center">Subtitle 4</p>
	    </div>
	</div>
	</body>
</html>

