<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
		<link  rel="stylesheet" href="{{ url_for('static', filename='css/estilosEmpleado.css')}}">
		<title>Index - Empleado</title>
	</head>
	<body>
        {% import "macros/Navbar.html" as macroNavbar %}
        {{ macroNavbar.Navbar() }}
        <div class="container">
            <div class="element">
                <div class="box">
                </div>
                <p>Subtitle 1</p>
            </div>
            <div class="element">
                <div class="box">
                </div>
                <p>Subtitle 2</p>
            </div>
            <div class="element">
                <div class="box">
                </div>
                <p>Subtitle 3</p>
            </div>
            <div class="element">
                <div class="box">
                </div>
                <p>Subtitle 4</p>
            </div>
          </div>    
	</body>
</html>

