#formLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px;
  padding: 30px;
  border: 2px solid #ccc;
  border-radius: 5px;
}

#formLogin label {
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: bold;
}

#formLogin input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
}

#formLogin input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#formLogin input[type="submit"]:hover {
  background-color: #45a049;
}

