#formLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px;
    padding: 30px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

#formLogin label {
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
}

#formLogin input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

#formLogin input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#formLogin input[type="submit"]:hover {
    background-color: #45a049;
}

/* Navbar */
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: #D9D9D9;
}

#navbarLeft {
    flex: 1;
}

#navbarRight {
    display: flex;
    align-items: center;
}

#navbarLeft .profile {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 10px;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
}

#Navbar h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

/* Foto de perfil */

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px; /* Modificar después */
}

.profile img {
    width: auto;
    height: 50%;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.profile h2 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin: 0;
}

/*Contenedor*/
.container {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

.element {
    width: calc(33.33% - 10px);
    margin-right: 10px;
}

.box {
    background-color: #d9d9dd;
    padding: 20px;
    margin-bottom: 20px;
    height: 100px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.element p {
    margin-bottom: 5;
    font-size: 16px;
}
