{% macro ProductoRegistrar() %}
<div class="container grid grid-cols-2 grid-rows-2 bg-gray-300">
    <img src="../../static/images/producto.png" alt="Product Image"
        class="w-2/3 mx-auto self-center row-span-2 border border-gray-700 max-h-32">
    <div class="row-span-2 p-4 flex flex-col justify-between">
        <h2 class="font-bold text-xs">Nombre del Producto</h2>
        <h3 class="font-medium text-sm">$99.99 MXN</h3>
    </div>
</div>
{% endmacro %}

{% macro ProductoRegistrarModal() %}
<div class="container grid grid-cols-2 grid-rows-2 bg-gray-300 py-2">
    <img src="../../static/images/producto.png" alt="Product Image"
        class="w-2/3 mx-auto self-center row-span-2 border border-gray-700 max-h-32">
    <div class="row-span-2 p-4 flex flex-col justify-between">
        <h2 class="font-bold text-xs">Nombre del Producto</h2>
        <h3 class="font-medium text-sm">$99.99 MXN</h3>
    </div>
</div>
{% endmacro %}

{% macro Platillo(platillo, precio) %}
<div
    class="containerPlatillo h-auto px-0 sm:px-4 py-2 container border border-gray-600 bg-gray-300 grid grid-cols-1 lg:grid-cols-2 grid-rows-2 lg:grid-rows-1 platillo">
    <!-- Contenedor izquierdo -->
    <div class="container max-h-full grid grid-rows-5">
        <p class="font-medium text-base nombrePlatillo">{{ platillo }}</p>
        <p class="row-span-3 descripcionPlatillo text-sm text-ellipsis p-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sagittis tincidunt odio. Vestibulum eget commodo nisl, id scelerisque est. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sagittis tincidunt odio. Vestibulum eget commodo nisl, id scelerisque est.</p>
        <!-- Contenedor de opciones inferiores -->
        <div class="containerButtons container grid grid-cols-7 mt-2 items-center text-center">
            <p class="font-medium text-sm col-span-2 text-start precioPlatillo">${{ precio }} MXN</p>
            <input type="number" name="cantidad" class="col-span-2 text-center" min="0" value="0">
            <p class="text-center font-medium">U</p>
            <button class="flex hover:text-blue-400 items-center justify-center font-medium rounded-md btnMasProducto">
                <i class="h-7 fa-solid fa-circle-plus"></i>
            </button>
            <button class="flex hover:text-blue-400 items-center justify-center font-medium rounded-md btnMenosProducto">
                <i class="h-7  fa-solid fa-circle-minus"></i>
            </button>
        </div>
    </div>
    <!-- Contenedor derecho -->
    <div class="container grid grid-rows-6 gap-y-0 sm:gap-y-4">
        <div class="border border-gray-600 row-span-5 "></div>
        <form action="{{ url_for('agregarCarrito', productId=platillo) }}" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <button type="submit"
                class="row-span-2 w-full bg-blue-500 place-self-end text-white hover:bg-blue-700 px-4 py-2 btnAgregarCarrito">Agregar al
                carrito</button>
        </form>
    </div>
</div>
{% endmacro %}

{% macro MesaDisponible(mesa) %}
<div id="containerMesa" class="cursor-pointer container flex flex-col justify-between items-center gap-4 p-0 mesaCaja" data-mesa-id="{{ mesa[0] }}" data-mesa-selected="false">
    <div class="border border-gray-200 p-3 bg-gray-300">
        <img src="../../static/images/mesa.png">
    </div>
    <p class="font-medium">Mesa {{ mesa[0] }}</p>
    <p>Capacidad {{ mesa[1] }}</p>
</div>
{% endmacro %}
