{% macro ProductoRegistrar() %}
<div class="container grid grid-cols-2 grid-rows-2 h-40 bg-gray-300">
    <img src="../../static/images/producto.png" alt="Product Image"
        class="w-2/3 mx-auto self-center row-span-2 border border-gray-700 max-h-32">
    <div class="row-span-2 p-4 flex flex-col justify-between">
        <h2 class="font-bold text-xs">Nombre del Producto</h2>
        <h3 class="font-medium text-sm">$99.99 MXN</h3>
    </div>
</div>
{% endmacro %}

{% macro Platillo() %}
<div class="containerPlatillo">
  <div class="left">
    <p><b>Platillo</b></p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sagittis tincidunt odio. Vestibulum eget commodo
      nisl, id scelerisque est.</p>
    <div class="containerButtons">
      <p>$505.50</p>
      <input type="number" name="cantidad">
      <p>U</p>
      <button type="button" class="btn">+</button>
      <button type="button" class="btn">-</button>
    </div>
  </div>
  <div class="right">
    <div class="imagenPlatillo"></div>
    <button type="button">Agregar al carrito</button>
  </div>
</div>
{% endmacro %}

{% macro MesaDisponible(nMesa) %}
<div class="containerMesa">
  <div class="imagenMesa">
    <img src="../../static/images/mesa.png">
  </div>
  <p>Mesa {{ nMesa + 1 }}</p>
</div>
{% endmacro %}
