{% macro ContenedorRegistroPedidos() %}
{% import "macros/Cajas.html" as macroCajas %}
<div id="containerPedidos" class="grid w-full md:w-7/12 border mx-auto grid-rows-9 gap-y-4 py-4">
    <p class="w-full text-base mx-auto">Fecha: 26-04-2023</p>
    <p class="w-full text-base mx-auto">Hora: 07:00 pm</p>
    <p class="w-full text-base mx-auto">Productos: </p>
    <div class="container grid grid-cols-1 sm:grid-cols-3 row-span-2 w-full gap-4 mx-auto">
        {{ macroCajas.ProductoRegistrar() }}
        {{ macroCajas.ProductoRegistrar() }}
        {{ macroCajas.ProductoRegistrar() }}
    </div>
    <button type="button" class="bg-blue-500 text-white mx-auto flex hover:bg-blue-700 my-8 px-4 py-2 rounded">
        Agregar
    </button>
    <p class="w-full text-base mx-auto">Total: $666.66 MXN</p>
    <p class="w-full text-base mx-auto">Metodo pago</p>
    <select name="metodoPago" id="metodoPago"
        class="h-11 shadow appearance-none border border-gray-500 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline-blue">
        <option value="debito">Tarjeta de debito</option>
        <option value="credito">Tarjeta de credito</option>
        <option value="Efectivo">Efectivo</option>
    </select>
    <button type="button" class="bg-blue-500 text-white mx-auto flex hover:bg-blue-700 my-8 px-4 py-2 rounded">
        Guardar
    </button>
</div>
{% endmacro %}

{% macro ContenedorPlatillos() %}
{% import "macros/Cajas.html" as macroCajas %}
<div class="containerPlatillos">
          {{ macroCajas.Platillo() }}
	  {{ macroCajas.Platillo() }}
	  {{ macroCajas.Platillo() }}
	  {{ macroCajas.Platillo() }}
	  {{ macroCajas.Platillo() }}
	  {{ macroCajas.Platillo() }}
</div>
{% endmacro %}


{% macro ContenedorUbicacion() %}
<div class="containerUbicacion">
  <img src="../../static/images/location.png">
  <p>Ubicación actual</p>
  <button type="button">Cambiar ubicación</button>
</div>
{% endmacro %}

{% macro ContenedorPagar() %}
<div class="containerPagar">
  <img src="../../static/images/borrar.png">
  <button type="button">Pagar $400.00 MXN</button>
</div>
{% endmacro %}

{% macro ContenedorPedido(Fecha, Estado) %}
<div class="containerPedido">
  <div class="left"></div>
  <div class="right">
    <p>Fecha: {{ Fecha }}</p>
    <p>Estado: {{ Estado }}</p>
  </div>
</div>
{% endmacro %}

{% macro ContenedorMesas(nMesas) %}
{% import "macros/Cajas.html" as macroCajas %}
<div class="containerMesas">
  {% for i in range(nMesas) %}
  {{ macroCajas.MesaDisponible(i) }}
  {% endfor %}
</div>
{% endmacro %}

{% macro ContenedorResultadosHorarios() %}
<div id="containerResultadosHorarios">
    <div class="headerResultados">
        <h2>Resultados</h2>
    </div>
    <div class="results">
        <button type="button">06:30 pm</button>
        <button type="button">07:00 pm</button>
        <button type="button">07:30 pm</button>
        <button type="button">08:00 pm</button>
        <button type="button">08:30 pm</button>
    </div>
</div>
{% endmacro %}


{% macro ContenedorMesasReservadas(nMesas) %}
{% import "macros/Cajas.html" as macroCajas %}
<div class="containerMesasReservadas">
  {% for i in range(nMesas) %}
  {{ macroCajas.MesaDisponible(i) }}
  {% endfor %}
</div>
{% endmacro %}

{% macro ContenedorPerfil() %}
<div class="containerPerfil">
    <hr>
    <p>Mis pedidos</p>
    <hr>
    <button type="button">Cerrar sesión</button>
    <hr>
</div>
{% endmacro %}
