{% macro ContenedorRegistroPedidos() %}
{% import "macros/Cajas.html" as macroCajas %}
<div id="containerPedidos" class="grid w-full md:w-7/12 border mx-auto grid-rows-9 gap-y-4 py-4">
    <p class="w-full text-base mx-auto">Fecha: 26-04-2023</p>
    <p class="w-full text-base mx-auto">Hora: 07:00 pm</p>
    <p class="w-full text-base mx-auto">Productos: </p>
    <div class="container grid grid-cols-1 sm:grid-cols-3 row-span-2 w-full h-40 gap-4 mx-auto">
        {{ macroCajas.ProductoRegistrar() }}
        {{ macroCajas.ProductoRegistrar() }}
        {{ macroCajas.ProductoRegistrar() }}
    </div>
    <button type="button" class="bg-blue-500 text-white mx-auto flex hover:bg-blue-700 my-8 px-4 py-2 rounded btnModalAgregarPedido">
        Agregar
    </button>
    <p class="w-full text-base mx-auto">Total: $666.66 MXN</p>
    <p class="w-full text-base mx-auto">Metodo pago</p>
    <select name="metodoPago" id="metodoPago"
        class="h-11 shadow appearance-none border border-gray-500 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline-blue">
        <option value="debito">Tarjeta de debito</option>
        <option value="credito">Tarjeta de credito</option>
        <option value="Efectivo">Efectivo</option>
    </select>
    <button type="button" class="bg-blue-500 text-white mx-auto flex hover:bg-blue-700 my-8 px-4 py-2 rounded">
        Guardar
    </button>
</div>
{% endmacro %}

{% macro ContenedorPlatillos(productos) %}
{% import "macros/Cajas.html" as macroCajas %}
<div id="containerPlatillos"
    class="w-full lg:w-10/12 mx-auto my-5 container grid grid-cols-1 sm:grid-cols-2 gap-y-64 md:gap-4">
    {% for producto in productos %}
        {{ macroCajas.Platillo(producto) }}
    {% endfor %}
</div>
{% endmacro %}


{% macro ContenedorUbicacion() %}
<div class="w-full sm:w-1/3 h-16 mx-auto grid grid-cols-12 items-center">
    <i class="fa-solid fa-location-dot h-10 col-span-2"></i>
    <p class="col-span-4">Ubicación actual</p>
    <button type="button"
        class="bg-blue-500 text-white flex hover:bg-blue-700 px-2 py-1 rounded col-span-6 justify-center">Cambiar
        ubicación</button>
</div>
{% endmacro %}

{% macro ContenedorPagar(idCarrito) %}
<div class="container h-24 w-full sm:w-3/4 flex justify-between items-center px-4 py-2 mx-auto my-8 border border-gray-600 bg-gray-400"
    id="containerPagar">
    <input type="hidden" value="{{ idCarrito }}" class="inputIdCarrito">
    <i class="fa-solid fa-trash-can h-10 hover:text-blue-400 btnModalVaciarCarrito"></i>
    <button type="button"
        class="h-5/6 w-3/5 sm:w-2/5 bg-blue-500 text-white flex items-center justify-center hover:bg-blue-700 my-8 px-4 py-2 rounded text-xl font-bold" onclick="location.href='/metodoPago'">Pagar&nbsp;
        $<span id="montoTotal"></span>&nbsp;MXN</button>
</div>
{% endmacro %}

{% macro ContenedorPedido(pedido) %}
<div class="w-full py-4 container grid grid-cols-3 sm:grid-cols-5 gap-x-2 border border-b-gray-600">
    <div class="col-span-1 h-32 bg-gray-300"></div>
    <div class="col-span-2 sm:col-span-4 flex flex-col justify-between">
        <p>Fecha: {{ pedido[1] }}</p>
        <p>Hora: {{ pedido[2] }}</p>
        <p>Estado: {{ pedido[3] }}</p>
    </div>
</div>
{% endmacro %}

{% macro ContenedorMesas(mesas) %}
{% import "macros/Cajas.html" as macroCajas %}
<h2 class="text-center font-medium text-red-600" id="alertMesasSeleccionadas"></h2>
<form action="procesarMesasSeleccionadas" id="formMesasSeleccionadas" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <input type="hidden" name="mesasIdsHidden" id="mesasIdsHidden" value="">
    <div class="container w-full sm:w-3/4 my-8 mx-auto grid grid-cols-2 sm:grid-cols-5 gap-x-4 gap-y-10 containerMesas">
        {% for mesa in mesas %}
        {{ macroCajas.MesaDisponible(mesa) }}
        {% endfor %}
    </div>
</form>
{% endmacro %}

{% macro ContenedorResultadosHorarios() %}
<div
    class="containerResultadosHorarios cols-span-1 md:col-span-3 row-span-1 w-full my-10 grid grid-rows-7 md:grid-rows-2 gap-y-6 md:gap-y-2">
    <h2 class="row-span-2 md:row-span-1 text-lg font-bold">Resultados</h2>
    <div
        class="md:row-span-1 grid grid-cols-1 md:grid-cols-5 gap-x-2 gap-y-2 md:gap-y-0 content-start md:content-between" id="contenedorResultadosHorarios">
    </div>
</div>
{% endmacro %}


{% macro ContenedorMesasReservadas(nMesas) %}
{% import "macros/Cajas.html" as macroCajas %}
<div id="containerMesasReservadas" class="container grid grid-cols-2 sm:grid-cols-5 gap-4">
    {% for i in range(nMesas) %}
    {{ macroCajas.MesaDisponible(i) }}
    {% endfor %}
</div>
{% endmacro %}

{% macro ContenedorPerfil(anchorLogout) %}
<div class="w-full sm:w-3/5 my-10 mx-auto flex flex-col gap-y-10">
    <hr class="border border-gray-600">
    <p class="text-base font-bold" onclick="location.href='/listaPedidos'">Mis pedidos</p>
    <hr class="border border-gray-600">
    <button type="button"
        class="w-full sm:w-3/12 h-16 sm:h-auto bg-red-400 text-white hover:bg-red-700 my-4 px-4 py-2 rounded" onclick="location.href='/logoutCliente'">Cerrar
        sesión</button>
    <hr class="border border-gray-600">
</div>
{% endmacro %}

{% macro ContenedorResultadosProductos() %}
{% import "macros/Cajas.html" as macroCajas %}
<h2 class="font-medium text-base">Resultados</h2>
<div class="resultados border border-gray-600 grid grid-cols-2 gap-4">
    {% for i in range(2) %}
    {{ macroCajas.ProductoRegistrarModal() }}
    {% endfor %}
</div>
{% endmacro %}