{% macro ConfirmarReserva() %}
<form id="formConfirmarReserva">
  <label for="correo">Correo:</label>
  <div class="email-search">
    <input type="email" id="correo" name="correo" placeholder="Enter your email">
    <button type="button">
      <i class="fa fa-search">Search</i>
    </button>
  </div>
  <label for="fechaReserva">Fecha de la reserva:</label>
  <input type="date" name="fechaReservas" id="fechaReservas" />
 <h2>Resultado</h2>
 {% import "macros/Tablas.html" as macroTablas %}
 {{ macroTablas.TablaResultado() }}
 <button type="button" id="btnConfirmarReserva">
    Confirmar reserva
  </button>
</form>
{% endmacro %}

{% macro ActDisponibilidadMesa() %}
<form id="formActDispMesa">
  <label for="numeroMesa">Numero de mesa:</label>
  <input type="number" name="numeroMesa" id="numeroMesas" />
  <div class="radios">
    <input type="radio" id="radio1" name="disponible" value="true">
    <label for="radio1">Disponible</label>
  </div>
  <div class="radios">
    <input type="radio" id="radio2" name="disponible" value="false">
    <label for="radio2">No disponible</label>
  </div>
  <button type="button" id="btnActDisMesa">
    Actualizar
  </button>
</form>
{% endmacro %}

{% macro Pedido() %}
  <div class="pedido">
    <div class="left">

    </div>
    <div class="right">
      <p>Pedido</p>
      <button type="button">Ver pedido</button>
    </div>
  </div>
{% endmacro %}

{% macro FormularioPedidos() %}
<form id="formularioPedido">
  {{ Pedido() }}
  <label for="tarjeta">No. de tarjeta</label>
  <input type="text" name="tarjeta">
  <label for="titular">Titular</label>
  <input type="text" name="titular">
  <p>*Por el momento solo aceptamos pagos con tarjeta de crédito o débito</p>
  <div class="containerCancelPagar">
    <button type="button" class="btnCancel">Cancelar</button>
    <button type="button">Pagar $400.00 MXN</button>
  </div>
</form>
{% endmacro %}

{% macro FormularioReservacion() %}
<form id="formularioReservacion">
    <div class="upperInputs">
        <div class="element">
            <label for="noPersonas">No. de personas</label>
            <select value="2" name="noPersonas" id="noPersonas">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
        <div class="element">
            <label for="fecha">Fecha</label>
            <input type="date" name="fecha" id="fecha">
        </div>
        <div class="element">
            <label for="horario">Horario</label>
            <select value="07:30 pm" name="horario" id="horario">
                <option value="08:30 am">08:30 am</option>
                <option value="10:00 am">10:00 am</option>
                <option value="11:30 am">11:30 am</option>
                <option value="13:00 pm">13:00 pm</option>
                <option value="14:30 pm">14:30 pm</option>
                <option value="16:00 pm">16:00 pm</option>
                <option value="17:30 pm">17:30 pm</option>
                <option value="19:00 pm">19:00 pm</option>
                <option value="19:30 pm">19:30 pm</option>
                <option value="20:30 pm">20:30 pm</option>
                <option value="22:00 pm">22:00 pm</option>
            </select>
        </div>
    </div>
    <button type="button" class="btnBuscarMesas">Buscar mesas</button>
</form>
{% endmacro %}
