{% macro ConfirmarReserva() %}
<form id="formConfirmarReserva">
  <label for="correo">Correo:</label>
  <div class="email-search">
    <input type="email" id="correo" name="correo" placeholder="Enter your email">
    <button type="button">
      <i class="fa fa-search">Search</i>
    </button>
  </div>
  <label for="fechaReserva">Fecha de la reserva:</label>
  <input type="date" name="fechaReservas" id="fechaReservas" />
 <h2>Resultado</h2>
 {% import "macros/Tablas.html" as macroTablas %}
 {{ macroTablas.TablaResultado() }}
 <button type="button" id="btnConfirmarReserva">
    Confirmar reserva
  </button>
</form>
{% endmacro %}

{% macro ActDisponibilidadMesa() %}
<form id="formActDispMesa">
  <label for="numeroMesa">Numero de mesa:</label>
  <input type="number" name="numeroMesa" id="numeroMesas" />
  <div class="radios">
    <input type="radio" id="radio1" name="disponible" value="true">
    <label for="radio1">Disponible</label>
  </div>
  <div class="radios">
    <input type="radio" id="radio2" name="disponible" value="false">
    <label for="radio2">No disponible</label>
  </div>
  <button type="button" id="btnActDisMesa">
    Actualizar
  </button>
</form>
{% endmacro %}

{% macro Pedido() %}
  <div class="pedido">
    <div class="left">

    </div>
    <div class="right">
      <p>Pedido</p>
      <button type="button">Ver pedido</button>
    </div>
  </div>
{% endmacro %}

{% macro FormularioPedidos() %}
<form id="formularioPedido">
  {{ Pedido() }}
  <label for="tarjeta">No. de tarjeta</label>
  <input type="text" name="tarjeta">
  <label for="titular">Titular</label>
  <input type="text" name="titular">
  <p>*Por el momento solo aceptamos pagos con tarjeta de crédito o débito</p>
  <div class="containerCancelPagar">
    <button type="button" class="btnCancel">Cancelar</button>
    <button type="button">Pagar $400.00 MXN</button>
  </div>
</form>
{% endmacro %}
