{% macro ConfirmarReserva() %}
<form id="formConfirmarReserva" class="w-full md:w-7/12 mx-auto p-2">
    <label for="correo" class="block text-green-500 font-bold my-2">Correo:</label>
    <div class="flex">
        <input type="email" id="correo" name="correo" placeholder="Enter your email"
            class="shadow appearance-none border border-gray-300 rounded w-full py-2 px-0 sm:px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline-green">
        <button type="button"
            class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline-green">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
    </div>
    <label for="fechaReserva" class="block text-green-500 font-bold mt-8 mb-2">Fecha de la reserva:</label>
    <input type="date" name="fechaReservas" id="fechaReservas"
        class="shadow appearance-none border border-gray-300 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline-green" />
    <h2 class="text-md font-bold w-full mx-auto border mt-8 mb-4">Resultado</h2>
    <div class="overflow-x-auto">
        {% import "macros/Tablas.html" as macroTablas %}
        {{ macroTablas.TablaResultado() }}
        <button type="button" class="bg-blue-500 text-white mx-auto flex hover:bg-blue-700 my-8 px-4 py-2 rounded">
            Confirmar reserva
        </button>
    </div>
</form>
{% endmacro %}

{% macro ActDisponibilidadMesa() %}
<form id="formActDispMesa" class="w-full md:w-7/12 mx-auto rounded-md p-6">
    <label for="numeroMesa" class="block text-green-500 font-bold my-2">Numero de mesa:</label>
    <input type="number" name="numeroMesa" id="numeroMesas" min="1"
        class="shadow appearance-none border border-gray-300 rounded w-full py-2 px-0 sm:px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline-green" />
    <div class="grid grid-rows-2 gap-4 my-6">
        <div class="grid grid-cols-12 grid-rows-1">
            <input type="radio" id="radio1" name="disponible" value="true" class="col-span-1 w-4/12">
            <label for="radio1" class="col-span-11">Disponible</label>
        </div>
        <div class="grid grid-cols-12 grid-rows-1">
            <input type="radio" id="radio2" name="disponible" value="false" class="col-span-1 w-4/12">
            <label for="radio2" class="col-span-11">No disponible</label>
        </div>
    </div>
    <button type="button" id="btnActDisMesa"
        class="bg-blue-500 text-white mx-auto flex hover:bg-blue-700 my-8 px-4 py-2 rounded">
        Actualizar
    </button>
</form>
{% endmacro %}

{% macro Pedido() %}
<div class="container my-4 w-2/3 lg:w-1/3 grid grid-cols-2 gap-4 h-36">
    <div class="bg-gray-300 h-full">
    </div>
    <div class="flex flex-col justify-between">
        <p class="font-medium text-base">Pedido</p>
        <button type="button"
            class="border border-gray-400 bg-blue-500 text-white hover:bg-blue-700 my-2 px-4 py-2 rounded" onclick="location.href='/carrito'">Ver
            pedido</button>
    </div>
</div>
{% endmacro %}

{% macro FormularioPedidos(check_user_logged_in) %}
<form id="formularioPedido" class="w-full md:w-3/5 mx-auto my-10">
    {{ Pedido() }}
    <label for="tarjeta" class="block text-blue-500 font-bold mt-4 mb-2">No. de tarjeta</label>
    <input type="text" name="tarjeta"
        class="shadow appearance-none border border-gray-300 rounded w-full py-2 px-0 sm:px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline-green">
    <label for="titular" class="block text-blue-500 font-bold mt-4 mb-2">Titular</label>
    <input type="text" name="titular"
        class="shadow appearance-none border border-gray-300 rounded w-full py-2 px-0 sm:px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline-green">
    <p class="my-4">*Por el momento solo aceptamos pagos con tarjeta de crédito o débito</p>
    <div class="container h-24 w-full flex justify-between items-center px-4 py-2 mx-auto my-8 bg-gray-300"
        id="containerPagar">
        <a href="{{ url_for('carrito') }}" class="w-3/5 sm:w-2/5 font-medium text-md underline text-center">Cancelar</a>
        {% if check_user_logged_in %}
            <button type="button"
                class="h-5/6 w-3/5 sm:w-2/5 bg-blue-500 text-white flex items-center justify-center hover:bg-blue-700 my-8 px-4 py-2 rounded text-xl font-bold"
                onclick="location.href='/listaPedidos'">Pagar $400.00 MXN</button>
        {% else %}
            <button type="button" class="h-5/6 w-3/5 sm:w-2/5 bg-blue-500 text-white flex items-center justify-center hover:bg-blue-700 my-8 px-4 py-2 rounded text-xl font-bold" onclick="location.href='/loginCliente'">
                Inicia sesión para continuar
            </button>
        {% endif %}
    </div>
</form>
{% endmacro %}

{% macro FormularioClienteReservacion(mesasIds) %}
{% set mesasIds_Int = mesasIds | to_int_list %}
<form action="" id="formularioClienteReservacion" class="w-full sm:w-5/12 my-4 mx-auto  p-3">
    <label for="nombre" class="my-4 block text-blue-500 font-bold mb-2">Nombre:</label>
    <input type="text" name="nombre" id="nombre"
        class="shadow appearance-none border border-gray-300 rounded w-full py-2 px-0 sm:px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline-blue" />

    <label for="apellido" class="my-4 block text-blue-500 font-bold mb-2">Apellido:</label>
    <input type="text" name="apellido" id="apellido"
        class="shadow appearance-none border border-gray-300 rounded w-full py-2 px-0 sm:px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline-blue" />

    <label for="telefono" class="my-4 block text-blue-500 font-bold mb-2">Telefono:</label>
    <input type="tel" name="telefono" id="telefono"
        class="shadow appearance-none border border-gray-300 rounded w-full py-2 px-0 sm:px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline-blue" />

    <label for="correo" class="my-4 block text-blue-500 font-bold mb-2">Correo:</label>
    <input type="email" name="correo" id="correo"
        class="shadow appearance-none border border-gray-300 rounded w-full py-2 px-0 sm:px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline-blue" />

    <label for="solicitud especial" class="my-4 block text-blue-500 font-bold mb-2">Solicitud especial:</label>
    <textarea name="solicitud" id="solicitud" cols="30" rows="10"
        class="shadow appearance-none border border-gray-300 rounded w-full py-2 px-0 sm:px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline-blue resize-none"></textarea>
    <label for="mesas" class="my-4 block text-blue-500 font-bold">Mesas:</label>
    {% import "macros/Cajas.html" as macroCajas %}
    <div id="containerMesasReservadas" class="container grid grid-cols-2 sm:grid-cols-5 gap-4">
        {% for i in mesasIds_Int %}
            {{ macroCajas.MesaDisponible(i) }}
        {% endfor %}
    </div>
    <div class="flex gap-2 border my-5 bg-gray-400">
        <button type="button"
            class="w-2/5 my-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 focus:outline-none focus:shadow-outline-blue mx-auto flex justify-center items-center" onclick="location.href='/mesasDisponibles'">
            Cancelar
        </button>
        <button type="button"
            class="w-2/5 my-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 focus:outline-none focus:shadow-outline-blue mx-auto flex justify-center items-center" onclick="location.href='/indexCliente'">
            Reservar
        </button>
    </div>
</form>
{% endmacro %}

{% macro FormularioReservacion() %}
<form id="formularioReservacion"
    class="w-full md:w-3/5 my-8 mx-auto grid grid-cols-1 md:grid-cols-3 grid-rows-4 md:grid-rows-2 gap-4 p-4 md:p-0">
    <div class="flex flex-col">
        <label for="noPersonas" class="block text-blue-500 font-bold mb-2">No. de personas</label>
        <select value="2" name="noPersonas" id="noPersonas"
            class="shadow border border-gray-300 rounded w-full py-2 px-0 sm:px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline-blue">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </div>
    <div class="flex flex-col">
        <label for="fecha" class="block text-blue-500 font-bold mb-2">Fecha</label>
        <input type="date" name="fecha" id="fecha"
            class="shadow appearance-none border border-gray-300 rounded w-full py-2 px-0 sm:px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline-blue">
    </div>
    <div class="flex flex-col">
        <label for="horario" class="block text-blue-500 font-bold mb-2">Horario</label>
        <select value="07:30 pm" name="horario" id="horario"
            class="shadow border border-gray-300 rounded w-full py-2 px-0 sm:px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline-blue">
            <option value="08:30 am">08:30 am</option>
            <option value="10:00 am">10:00 am</option>
            <option value="11:30 am">11:30 am</option>
            <option value="13:00 pm">13:00 pm</option>
            <option value="14:30 pm">14:30 pm</option>
            <option value="16:00 pm">16:00 pm</option>
            <option value="17:30 pm">17:30 pm</option>
            <option value="19:00 pm">19:00 pm</option>
            <option value="19:30 pm">19:30 pm</option>
            <option value="20:30 pm">20:30 pm</option>
            <option value="22:00 pm">22:00 pm</option>
        </select>
    </div>
    <button type="button"
        class="cols-span-1 md:col-span-3 row-span-1 w-full bg-blue-500 text-white mx-auto hover:bg-blue-700 my-4 px-4 py-2 rounded">Buscar
        mesas</button>
</form>
{% endmacro %}

{% macro FormularioConsultarReserva() %}
<form action="" id="formularioConsultarReserva" class="w-full sm:w-5/12 my-4 mx-auto border border-gray-600 p-3">
    <label for="nombre" class="my-4 block text-blue-500 font-bold mb-2">Nombre:</label>
    <input type="text" name="nombre" id="nombre" value="Benito"
        class="shadow appearance-none border border-gray-300 rounded w-full py-2 px-0 sm:px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline-blue"
        disabled />

    <label for="apellido" class="my-4 block text-blue-500 font-bold mb-2">Apellido:</label>
    <input type="text" name="apellido" id="apellido" value="Juarez"
        class="shadow appearance-none border border-gray-300 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline-blue"
        disabled />

    <label for="fecha" class="my-4 block text-blue-500 font-bold mb-2">Fecha:</label>
    <input type="date" name="fecha" id="fecha" value="2023-03-23"
        class="shadow appearance-none border border-gray-300 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline-blue"
        disabled />

    <label for="hora" class="my-4 block text-blue-500 font-bold mb-2">Hora:</label>
    <input type="time" name="hora" id="hora" value="07:00"
        class="shadow appearance-none border border-gray-300 rounded w-full py-2 px-0 sm:px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline-blue"
        disabled />

    <label for="noPersonas" class="my-4 block text-blue-500 font-bold mb-2">No. Personas:</label>
    <input type="number" name="noPersonas" id="noPersonas" value="2"
        class="shadow appearance-none border border-gray-300 rounded w-full py-2 px-0 sm:px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline-blue"
        disabled />

    <label for="mesas" class="my-4 block text-blue-500 font-bold">Mesas:</label>
    {% import "macros/Contenedores.html" as macroContenedores %}
    {{ macroContenedores.ContenedorMesasReservadas(2) }}
    <div class="flex flex-col sm:flex-row gap-y-4 sm:gap-y-0 justify-around my-8">
        <button type="button"
            class="w-full sm:w-1/3 bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 focus:outline-none focus:shadow-outline-red">
            Cancelar
        </button>
        <button type="button"
            class="w-full sm:w-1/3 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 focus:outline-none focus:shadow-outline-blue">
            Aceptar
        </button>
    </div>
</form>
{% endmacro %}
