{% macro Login(anchorLogin) %}
<h1 class="text-3xl text-center font-bold my-10">Iniciar sesion</h1>
<div class="flex flex-col items-center border border-gray-600 w-full sm:w-3/4 md:w-5/12 mx-auto py-20 rounded-sm">
    <form id="formLogin" class="w-full max-w-md" action="{{ anchorLogin }}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div class="mb-4">
            <label for="correo" class="block text-green-500 font-bold mb-2">Correo:</label>
            <input type="text" name="correo" id="correo"
                class="shadow appearance-none border border-gray-300 rounded w-full py-2 px-0 sm:px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline-green" value="alfaUser"/>
        </div>
        <div class="mb-6">
            <label for="password" class="block text-green-500 font-bold mb-2">Contraseña:</label>
            <input type="password" name="password" id="password"
                class="shadow appearance-none border border-gray-300 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline-green" value="omegalambda"/>
        </div>
        <div class="flex justify-center">
            <button type="submit"
                class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline-green">
                Iniciar sesión
            </button>
        </div>
        {% with messages = get_flashed_messages() %}

            {% if messages %}
            <br />
            {% for message in messages %}
                <strong>{{ message }}</strong>
            {% endfor %}
            {% endif %}

        {% endwith %}
    </form>
</div>
{% endmacro %}
