{% macro ModalTablaEditar(action) %}
<!-- Main modal -->
<div id="modalTablaEditar" tabindex="-1" aria-hidden="true"
    class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-screen max-h-full bg-gray-600/50 justify-center items-center">
    <div class="relative mx-auto my-4 w-full md:w-4/12 max-h-full bg-green-600">
        <!-- Modal content -->
        <form action="{{ action }}" method="POST" class="formularioModalEditar">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                <button type="button"
                    class="w-1/12 absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 rounded-lg text-sm p-1.5 inline-flex items-center justify-center dark:hover:bg-gray-800 dark:hover:text-white btnCloseModalTablaEditar">
                    <i class="fa-solid fa-xmark"></i>
                </button>
                <div class="px-6 py-6 lg:px-8">
                    <h3 class="mb-4 text-xl font-medium text-gray-900 dark:text-white text-center">Agregar registro</h3>
                    <form class="flex flex-col justify-between" action="#">
                        <div id="modalTablaEditarContent"></div>
                        <button type="button"
                            class="w-full bg-blue-500 text-white mx-auto hover:bg-blue-700 mt-8 px-4 py-2 rounded btnAdminEditar">Aceptar</button>
                    </form>
                </div>
            </div>
        </form>
    </div>
</div>
{% endmacro %}

{% macro ModalTablaEliminar(eliminarRegistro) %}
<div id="modalTablaEliminar" tabindex="-1" class="fixed top-0 left-0 right-0 hidden z-50 p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-full max-h-screen bg-gray-600/50 justify-center items-center">
    <div class="w-full sm:w-4/12 max-h-full">
        <!-- Modal content -->
        <form action="{{ eliminarRegistro }}" method="POST" class="formModalEliminar">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <input type="hidden" name="Id" value="" class="inputFormIdRegistro">
            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700" id="modalEliminarContent">
                <button type="button"
                    class="w-1/12 absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 rounded-lg text-sm p-1.5 inline-flex items-center justify-center dark:hover:bg-gray-800 dark:hover:text-white btnCloseModalTablaEliminar">
                    <i class="fa-solid fa-xmark"></i>
                </button>
                <div class="p-6 text-center">
                    <button type="button"
                        class="mx-auto mb-4 text-gray-400 w-14 dark:text-gray-200">
                        <i class="fa-solid fa-circle-exclamation h-12"></i>
                    </button>
                    <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">¿Estas seguro de eliminar este elemento?</h3>
                    <button data-modal-hide="popup-modal" type="button" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600 btnCloseModalTablaEliminar">No, cancelar</button>
                    <button data-modal-hide="popup-modal" type="button" class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center mr-2 btnAdminEliminar">
                        Sí, estoy seguro
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endmacro %}

{% macro ModalTablaAgregar(agregarRegistro) %}
<!-- Main modal -->
<div id="modalTablaAgregar" tabindex="-1" aria-hidden="true"
    class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-screen max-h-full bg-gray-600/50 justify-center items-center">
    <div class="relative mx-auto my-4 w-full md:w-4/12 max-h-full bg-green-600">
        <!-- Modal content -->
        <form action="{{ agregarRegistro }}" method="POST" class="formModalEliminar">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <input type="hidden" name="Id" value="" class="inputFormIdRegistro">
            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                <button type="button"
                    class="w-1/12 absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 rounded-lg text-sm p-1.5 inline-flex items-center justify-center dark:hover:bg-gray-800 dark:hover:text-white btnCloseModalTablaAgregar">
                    <i class="fa-solid fa-xmark"></i>
                </button>
                <div class="px-6 py-6 lg:px-8">
                    <h3 class="mb-4 text-xl font-medium text-gray-900 dark:text-white text-center">Agregar registro</h3>
                    <form class="flex flex-col justify-between" action="#">
                        <div id="modalTablaAgregarContent"></div>
                        <button type="button"
                            class="w-full bg-blue-500 text-white mx-auto hover:bg-blue-700 mt-8 px-4 py-2 rounded btnAdminAgregar">Agregar</button>
                    </form>
                </div>
            </div>
        </form>
    </div>
</div>
{% endmacro %}

{% macro ModalProducto() %}
<form action="agregarCarrito" method="POST" id="formModalAgregarCarrito">
<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
<input type="hidden" name="idProducto" value="">
<!-- Main modal -->
<div id="modalProducto" tabindex="-1" aria-hidden="true"
    class="fixed top-0 left-0 right-0 z-50 hidden w-full p-2 overflow-x-hidden overflow-y-auto md:inset-0 h-screen max-h-full bg-gray-600/50 justify-center items-center">
    <div class="relative mx-auto my-4 w-full md:w-6/12 max-h-full bg-green-600">
        <!-- Modal content -->
        <div class="relative rounded-lg shadow bg-gray-600 max-h-full">
            <button type="button"
                class="w-1/12 absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 rounded-lg text-sm p-1.5 inline-flex items-center justify-center dark:hover:bg-gray-800 dark:hover:text-white btnCloseModalProducto">
                <i class="fa-solid fa-xmark"></i>
            </button>
            <div class="px-6 py-6 lg:px-8 flex flex-col gap-4">
                <h3 class="mb-4 text-xl font-medium text-gray-900 dark:text-white text-center modalNombrePlatillo">Tacos</h3>
                <div class="border border-gray-900 w-full h-56 bg-gray-100 bg-contain bg-no-repeat bg-center" style="background-image: url('../../static/images/enchilada.jpg');">
                    <!-- <img src="../../static/images/enchilada.jpg" alt="Imagen de enchiladas" class="w-full max-h-full bg-cover"> -->
                </div>
                <p class="modalDescripcionPlatillo">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sagittis tincidunt odio. Vestibulum eget commodo nisl, id scelerisque est. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sagittis tincidunt odio. Vestibulum eget commodo nisl, id scelerisque est.</p>
                <!-- Contenedor de opciones inferiores -->
                <div class="containerButtons container grid grid-cols-12 items-center text-center">
                    <p class="font-medium col-span-7 text-start text-2xl modalPrecioPlatillo"></p>
                    <input type="number" name="cantidad" class="col-span-2 shadow appearance-none border border-gray-300 rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline-green" min="1" value="1">
                    <p class="text-center font-medium">U</p>
                    <button type="button" class="flex hover:text-blue-400 items-center justify-center font-medium rounded-md btnMasProductoMenu">
                        <i class="h-7 fa-solid fa-circle-plus"></i>
                    </button>
                    <button type="button" class="flex hover:text-blue-400 items-center justify-center font-medium rounded-md btnMenosProductoMenu">
                        <i class="h-7  fa-solid fa-circle-minus"></i>
                    </button>
                </div>
                <label for="comentarios">Comentarios: </label>
                <textarea class="w-full" class="my-4" rows="4" name="comentarios"></textarea>
                <button type="button" class="w-full bg-blue-500 text-white mx-auto hover:bg-blue-700 mt-4 px-4 py-2 rounded" id="btnModalAgregarProductoCarrito">Agregar al carrito</button>
            </div>
        </div>
    </div>
</div>
</form>
{% endmacro %}

{% macro ModalAgregarPedido() %}
{% import "macros/Contenedores.html" as macroContenedores %}
<!-- Main modal -->
<div id="modalAgregarPedido" tabindex="-1" aria-hidden="true"
    class="fixed top-0 left-0 right-0 z-50 hidden w-full p-2 overflow-x-hidden overflow-y-auto md:inset-0 h-screen max-h-full bg-gray-600/50 justify-center items-center">
    <div class="relative mx-auto my-4 w-full md:w-6/12 max-h-full bg-green-600">
        <!-- Modal content -->
        <div class="flex flex-col py-4 rounded-lg shadow bg-gray-600 max-h-full">
            <button type="button"
                class="w-1/12 mr-2 self-end text-gray-400 bg-transparent hover:bg-gray-200 rounded-lg text-sm p-1.5 inline-flex items-center justify-center dark:hover:bg-gray-800 dark:hover:text-white btnCloseModalAgregarPedido">
                <i class="fa-solid fa-xmark"></i>
            </button>
            <div class="py-4 lg:px-8 flex flex-col gap-4">
                <div class="flex">
                    <input type="email" id="correo" name="correo" placeholder="Enter your email"
                        class="shadow appearance-none border border-gray-300 rounded w-full py-2 px-0 sm:px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline-green">
                    <button type="button"
                        class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline-green">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
                {{ macroContenedores.ContenedorResultadosProductos() }}
                <button type="button" class="w-full bg-blue-500 text-white mx-auto hover:bg-blue-700 mt-4 px-4 py-2 rounded btnCloseModalTablaAgregar">Agregar al carrito</button>
            </div>
        </div>
    </div>
</div>
{% endmacro %}

{% macro ModalEditarEdoPedidoOnline() %}
<!-- Main modal -->
<div id="modalEditarEdoPedidoOnline" tabindex="-1" aria-hidden="true"
    class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-screen max-h-full bg-gray-600/50 justify-center items-center">
    <div class="relative mx-auto my-4 w-full md:w-4/12 max-h-full bg-green-600">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <button type="button"
                class="w-1/12 absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 rounded-lg text-sm p-1.5 inline-flex items-center justify-center dark:hover:bg-gray-800 dark:hover:text-white btnCloseModalEditarEdoPedidoOnline">
                <i class="fa-solid fa-xmark"></i>
            </button>
            <div class="px-6 py-6 lg:px-8">
                <h3 class="mb-4 text-xl font-medium text-gray-900 dark:text-white text-center">Editar estado del pedido</h3>
                <form class="flex flex-col justify-between" action="#">
                    <div id="modalEditarEdoPedidoOnlineContent"></div>
                    <button type="button"
                        class="w-full bg-blue-500 text-white mx-auto hover:bg-blue-700 mt-8 px-4 py-2 rounded btnCloseModalEditarEdoPedidoOnline">Guardar</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endmacro %}

{% macro ModalCarritoEliminar() %}
<div id="modalCarritoEliminar" tabindex="-1" class="fixed top-0 left-0 right-0 hidden z-50 p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-full max-h-screen bg-gray-600/50 justify-center items-center" data-product-id="">
    <div class="w-full sm:w-4/12 max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <input type="hidden" value="" id="modalIdDetalleCarrito">
            <input type="hidden" value="" id="modalIdDetalleCarritoProducto">
            <button type="button"
                class="w-1/12 absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 rounded-lg text-sm p-1.5 inline-flex items-center justify-center dark:hover:bg-gray-800 dark:hover:text-white btnCloseModalCarritoEliminar">
                <i class="fa-solid fa-xmark"></i>
            </button>
            <div class="p-6 text-center">
                <button type="button"
                    class="mx-auto mb-4 text-gray-400 w-14 dark:text-gray-200">
                    <i class="fa-solid fa-circle-exclamation h-12"></i>
                </button>
                <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">¿Estas seguro de eliminar este elemento del carrito?</h3>
                <button data-modal-hide="popup-modal" type="button" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600 btnCloseModalCarritoEliminar">No, cancelar</button>
                <button data-modal-hide="popup-modal" type="button" class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center mr-2 btnAceptarEliminarCarrito">
                    Sí, estoy seguro
                </button>
            </div>
        </div>
    </div>
</div>
{% endmacro %}

{% macro ModalVaciarCarrito() %}
<div id="modalVaciarCarrito" tabindex="-1" class="fixed top-0 left-0 right-0 hidden z-50 p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-full max-h-screen bg-gray-600/50 justify-center items-center" data-product-id="">
    <div class="w-full sm:w-4/12 max-h-full">
        <!-- Modal content -->
        <form action="vaciarCarrito" method="POST" id="formVaciarCarrito">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <input type="hidden" value="" name="idCarrito" id="modalIdCarrito">
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <button type="button"
                class="w-1/12 absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 rounded-lg text-sm p-1.5 inline-flex items-center justify-center dark:hover:bg-gray-800 dark:hover:text-white btnCloseModalVaciarCarrito">
                <i class="fa-solid fa-xmark"></i>
            </button>
            <div class="p-6 text-center">
                <button type="button"
                    class="mx-auto mb-4 text-gray-400 w-14 dark:text-gray-200">
                    <i class="fa-solid fa-circle-exclamation h-12"></i>
                </button>
                <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">¿Estas seguro de vaciar el carrito?</h3>
                <button data-modal-hide="popup-modal" type="button" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600 btnCloseModalVaciarCarrito">No, cancelar</button>
                <button data-modal-hide="popup-modal" type="button" class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center mr-2 btnAceptarVaciarCarrito">
                    Sí, estoy seguro
                </button>
            </div>
        </div>
        </form>
    </div>
</div>
{% endmacro %}