{% macro Navbar() %}
<Navbar id="navbar">
  <div id="navbarLeft">
      <h1>Home</h1>
  </div>
  <div id="navbarRight">
      <div class="profile">
          <img src="https://robohash.org/2806:230:3020:c053:b949:8162:9935:bb35.png" alt="Profile Image">
          <h2>Cody</h2>
      </div>
  </div>
</Navbar>
{% endmacro %}

{% macro NavbarCliente() %}
<Navbar id="navbar">
  <div id="navbarLeft">
    <h1>Home</h1>
  </div>
  <div id="navbarRight">
    <button>
      Reservar
    </button>
    <button>
      Menu
    </button>
    <div class="carrito">
      <img src="../../static/images/carrito.png" alt="Profile Image">
      <h2>Carrito</h2>
    </div>
    <div class="profile">
      <img src="https://robohash.org/2806:230:3020:c053:8cab:417:9ad:a1f0.png" alt="Profile Image">
      <h2>Bly</h2>
    </div>
  </div>
</Navbar>
{% endmacro %}
