{% set classBtnEditar = 'btnModalTablaEditar' %}
{% set classBtnEliminar = 'btnModalTablaEliminar' %}

{% macro TablaClientesIndex(Clientes) %}
<div class="relative overflow-x-auto shadow-md">
<table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
  <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-300 dark:text-gray-400">
          <tr>
                  <th scope="col" class="px-6 py-3">Nombre</th>
                  <th scope="col" class="px-6 py-3">Apellido</th>
                  <th scope="col" class="px-6 py-3">Correo</th>
                  <th scope="col" class="px-6 py-3">TelefonoContacto</th>
          </tr>
  </thead>
  <tbody>
          {% for cliente in Clientes %}
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                  <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{cliente[0]}}</td>
                  <td class="px-6 py-4">{{cliente[1]}}</td>
                  <td class="px-6 py-4">{{cliente[2]}}</td>
                  <td class="px-6 py-4">{{cliente[3]}}</td>
          </tr>
          {% endfor %}
  </tbody>
</table>
</div>
{% endmacro %}

{% macro TablaPersonal(personal) %}
<div class="overflow-x-auto">
    <table
        class="table-auto w-3/4 text-center border-collapse border border-gray-500 mx-auto my-0 rounded-lg shadow-lg">
        <thead class="bg-gray-300 text-black">
            <tr>
                <th class="px-6 py-3 border border-gray-500">Id</th>
                <th class="px-6 py-3 border border-gray-500">Nombre</th>
                <th class="px-6 py-3 border border-gray-500">Apellido Paterno</th>
                <th class="px-6 py-3 border border-gray-500">Apellido Materno</th>
                <th class="px-6 py-3 border border-gray-500">Salario</th>
                <th class="px-6 py-3 border border-gray-500">Correo</th>
                <th class="px-6 py-3 border border-gray-500">Tipo Usuario</th>
                <th class="px-6 py-3 border border-gray-500">Acciones</th>
            </tr>
        </thead>
        <tbody class="divide-y divide-gray-300">
            {% for persona in personal %}
                <tr class="bg-gray-100 hover:bg-gray-200">
                    <td class="px-6 py-4 whitespace-nowrap border border-gray-500">{{ persona[0] }}</td>
                    <td class="px-6 py-4 whitespace-nowrap border border-gray-500">{{ persona[1] }}</td>
                    <td class="px-6 py-4 whitespace-nowrap border border-gray-500">{{ persona[2] }}</td>
                    <td class="px-6 py-4 whitespace-nowrap border border-gray-500">{{ persona[3] }}</td>
                    <td class="px-6 py-4 whitespace-nowrap border border-gray-500">{{ persona[4] }}</td>
                    <td class="px-6 py-4 whitespace-nowrap border border-gray-500">{{ persona[5] }}</td>
                    <td class="px-6 py-4 whitespace-nowrap border border-gray-500">{{ persona[6] }}</td>
                    <td class="px-6 py-4 whitespace-nowrap border border-gray-500">
                        <button type="button"
                            class="bg-blue-500 hover:bg-blue-700 text-white px-4 py-2 rounded-l-lg focus:outline-none focus:shadow-outline-blue {{ classBtnEditar }}">Editar</button>
                        <button type="button"
                            class="bg-red-500 hover:bg-red-700 text-white px-4 py-2 rounded-r-lg focus:outline-none focus:shadow-outline-blue {{ classBtnEliminar }}">Eliminar</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endmacro %}

{% macro TablaIngredientesProductos() %}
<div class="overflow-x-auto">
    <table
        class="table-auto w-3/4 text-center border-collapse border border-gray-500 mx-auto my-0 rounded-lg shadow-lg">
        <thead class="bg-gray-300 text-black">
            <tr>
                <th class="px-6 py-3 border border-gray-500">Id</th>
                <th class="px-6 py-3 border border-gray-500">Ingrediente</th>
                <th class="px-6 py-3 border border-gray-500">Cantidad</th>
                <th class="px-6 py-3 border border-gray-500">TipoUnidad</th>
                <th class="px-6 py-3 border border-gray-500">Acciones</th>
            </tr>
        </thead>
        <tbody class="divide-y divide-gray-300">
            {% for ingrediente in ingredientes %}
                <tr class="bg-gray-100 hover:bg-gray-200">
                    <td class="px-6 py-4 whitespace-nowrap border border-gray-500">{{ ingrediente[0] }}</td>
                    <td class="px-6 py-4 whitespace-nowrap border border-gray-500">{{ ingrediente[1] }}</td>
                    <td class="px-6 py-4 whitespace-nowrap border border-gray-500">{{ ingrediente[2] }}</td>
                    <td class="px-6 py-4 whitespace-nowrap border border-gray-500">{{ ingrediente[3] }}</td>
                    <td class="px-6 py-4 whitespace-nowrap border border-gray-500">
                        <button type="button"
                            class="bg-blue-500 hover:bg-blue-700 text-white px-4 py-2 rounded-l-lg focus:outline-none focus:shadow-outline-blue {{ classBtnEditar }}">Editar</button>
                        <button type="button"
                            class="bg-red-500 hover:bg-red-700 text-white px-4 py-2 rounded-r-lg focus:outline-none focus:shadow-outline-blue {{ classBtnEliminar }}">Eliminar</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endmacro %}

{% macro TablaMesas(mesas) %}
<div class="overflow-x-auto">
    <table
        class="table-auto w-3/4 text-center border-collapse border border-gray-500 mx-auto my-0 rounded-lg shadow-lg">
        <thead class="bg-gray-300 text-black">
            <tr>
                <th class="px-6 py-3 border border-gray-500">Número</th>
                <th class="px-6 py-3 border border-gray-500">Capacidad</th>
                <th class="px-6 py-3 border border-gray-500">Disponibilidad</th>
                <th class="px-6 py-3 border border-gray-500">Acciones</th>
            </tr>
        </thead>
        <tbody class="divide-y divide-gray-300">
            {% for mesa in mesas %}
                <tr class="bg-gray-100 hover:bg-gray-200">
                    <td class="px-6 py-4 whitespace-nowrap border border-gray-500">{{ mesa[0] }}</td>
                    <td class="px-6 py-4 whitespace-nowrap border border-gray-500">{{ mesa[1] }}</td>
                    <td class="px-6 py-4 whitespace-nowrap border border-gray-500">{{ mesa[2] }}</td>
                    <td class="px-6 py-4 whitespace-nowrap border border-gray-500">
                        <button type="button"
                            class="bg-blue-500 hover:bg-blue-700 text-white px-4 py-2 rounded-l-lg focus:outline-none focus:shadow-outline-blue {{ classBtnEditar }}">Editar</button>
                        <button type="button"
                            class="bg-red-500 hover:bg-red-700 text-white px-4 py-2 rounded-r-lg focus:outline-none focus:shadow-outline-blue {{ classBtnEliminar }}">Eliminar</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endmacro %}

{% macro TablaIngredientes(ingredientes) %}
<div class="overflow-x-auto">
    <table class="table-auto w-3/4 text-center border-collapse border border-gray-500 mx-auto my-0 rounded-lg shadow-lg">
        <thead class="bg-gray-300 text-black">
            <tr>
                <th class="px-6 py-3 border border-gray-500">Id</th>
                <th class="px-6 py-3 border border-gray-500">Nombre Ingrediente</th>
                <th class="px-6 py-3 border border-gray-500">Stock Ingrediente</th>
                <th class="px-6 py-3 border border-gray-500">Tipo Unidad</th>
                <th class="px-6 py-3 border border-gray-500">Acciones</th>
            </tr>
        </thead>
        <tbody class="divide-y divide-gray-300">
            {% for ingrediente in ingredientes %}
            <tr class="bg-gray-100 hover:bg-gray-200 fila-tabla">
                <td class="px-6 py-4 whitespace-nowrap border border-gray-500">{{ ingrediente[0] }}</td>
                <td class="px-6 py-4 whitespace-nowrap border border-gray-500">{{ ingrediente[1] }}</td>
                <td class="px-6 py-4 whitespace-nowrap border border-gray-500">{{ ingrediente[2] }}</td>
                <td class="px-6 py-4 whitespace-nowrap border border-gray-500">{{ ingrediente[3] }}</td>
                <td class="px-6 py-4 whitespace-nowrap border border-gray-500">
                    <button type="button" class="bg-blue-500 hover:bg-blue-700 text-white px-4 py-2 rounded-l-lg focus:outline-none focus:shadow-outline-blue {{ classBtnEditar }}">Editar</button>
                    <button type="button" class="bg-red-500 hover:bg-red-700 text-white px-4 py-2 rounded-r-lg focus:outline-none focus:shadow-outline-blue {{ classBtnEliminar }}">Eliminar</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endmacro %}

{% macro TablaProductos(productos) %}
<div class="overflow-x-auto">
    <table
        class="table-auto w-3/4 text-center border-collapse border border-gray-500 mx-auto my-0 rounded-lg shadow-lg">
        <thead class="bg-gray-300 text-black">
            <tr>
                <th class="px-6 py-3 border border-gray-500">Id</th>
                <th class="px-6 py-3 border border-gray-500">Producto</th>
                <th class="px-6 py-3 border border-gray-500">Comida</th>
                <th class="px-6 py-3 border border-gray-500">Precio</th>
                <th class="px-6 py-3 border border-gray-500">Descripcion</th>
                <th class="px-6 py-3 border border-gray-500">Imagen</th>
                <th class="px-6 py-3 border border-gray-500">Ingredientes</th>
                <th class="px-6 py-3 border border-gray-500">Acciones</th>
            </tr>
        </thead>
        <tbody class="divide-y divide-gray-300 tbodyProducto">
            {% for producto in productos %}
            <tr class="bg-gray-100 hover:bg-gray-200">
                    <td class="px-6 py-4 whitespace-nowrap border border-gray-500">{{ producto[0] }}</td>
                    <td class="px-6 py-4 whitespace-nowrap border border-gray-500">{{ producto[1] }}</td>
                    <td class="px-6 py-4 whitespace-nowrap border border-gray-500">{{ producto[2] }}</td>
                    <td class="px-6 py-4 whitespace-nowrap border border-gray-500">{{ producto[3] }}</td>
                    <td class="px-6 py-4 whitespace-nowrap border border-gray-500">{{ producto[4] }}</td>
                    <td class="px-6 py-4 whitespace-nowrap border border-gray-500">{{ producto[5] }}</td>
                    <td class="px-6 py-4 whitespace-nowrap border border-gray-500">
                        <form action="adminProductosIngredientes" method="POST">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <input type="hidden" value="{{ producto[0] }}" name="idProducto">
                            <button type="button"
                                class="bg-blue-500 hover:bg-blue-700 text-white px-4 py-2 rounded-lg focus:outline-none focus:shadow-outline-blue btnProductosIngredientes" data-id="{{ producto[0] }}">Más</button>
                        </form>
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap border border-gray-500">
                        <button type="button"
                            class="bg-blue-500 hover:bg-blue-700 text-white px-4 py-2 rounded-l-lg focus:outline-none focus:shadow-outline-blue {{ classBtnEditar }}">Editar</button>
                        <button type="button"
                            class="bg-red-500 hover:bg-red-700 text-white px-4 py-2 rounded-r-lg focus:outline-none focus:shadow-outline-blue {{ classBtnEliminar }}">Eliminar</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endmacro %}


{% macro TablaReservas(reservas) %}
<div class="overflow-x-auto">
    <table
        class="table-auto w-3/4 text-center border-collapse border border-gray-500 mx-auto my-0 rounded-lg shadow-lg">
        <thead class="bg-gray-300 text-black">
            <tr>
                <th class="px-6 py-3 border border-gray-500">Id</th>
                <th class="px-6 py-3 border border-gray-500">Cantidad Personas</th>
                <th class="px-6 py-3 border border-gray-500">Comentarios</th>
                <th class="px-6 py-3 border border-gray-500">Fecha</th>
                <th class="px-6 py-3 border border-gray-500">Hora</th>
            </tr>
        </thead>
        <tbody class="divide-y divide-gray-300">
            {% for reserva in reservas %}
                <tr class="bg-gray-100 hover:bg-gray-200">
                    <td class="px-6 py-4 whitespace-nowrap border border-gray-500">{{ reserva[0] }}</td>
                    <td class="px-6 py-4 whitespace-nowrap border border-gray-500">{{ reserva[1] }}</td>
                    <td class="px-6 py-4 whitespace-nowrap border border-gray-500">{{ reserva[2] }}</td>
                    <td class="px-6 py-4 whitespace-nowrap border border-gray-500">{{ reserva[3] }}</td>
                    <td class="px-6 py-4 whitespace-nowrap border border-gray-500">{{ reserva[4] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endmacro %}

{% macro TablaClientes(Clientes) %}
<div class="overflow-x-auto">
    <table
        class="table-auto w-3/4 text-center border-collapse border border-gray-500 mx-auto my-0 rounded-lg shadow-lg">
        <thead class="bg-gray-300 text-black">
            <tr>
                <th class="px-6 py-3 border border-gray-500">Id</th>
                <th class="px-6 py-3 border border-gray-500">Nombre</th>
                <th class="px-6 py-3 border border-gray-500">Apellido Paterno</th>
                <th class="px-6 py-3 border border-gray-500">Apellido Materno</th>
                <th class="px-6 py-3 border border-gray-500">Correo</th>
                <th class="px-6 py-3 border border-gray-500">TelefonoContacto</th>
                <th class="px-6 py-3 border border-gray-500">Acciones</th>
            </tr>
        </thead>
        <tbody class="divide-y divide-gray-300">
            {% for cliente in Clientes %}
                <tr class="bg-gray-100 hover:bg-gray-200">
                    <td class="px-6 py-4 whitespace-nowrap border border-gray-500">{{ cliente[0] }}</td>
                    <td class="px-6 py-4 whitespace-nowrap border border-gray-500">{{ cliente[1] }}</td>
                    <td class="px-6 py-4 whitespace-nowrap border border-gray-500">{{ cliente[2] }}</td>
                    <td class="px-6 py-4 whitespace-nowrap border border-gray-500">{{ cliente[3] }}</td>
                    <td class="px-6 py-4 whitespace-nowrap border border-gray-500">{{ cliente[4] }}</td>
                    <td class="px-6 py-4 whitespace-nowrap border border-gray-500">{{ cliente[5] }}</td>
                    <td class="px-6 py-4 whitespace-nowrap border border-gray-500">
                        <button type="button"
                            class="bg-blue-500 hover:bg-blue-700 text-white px-4 py-2 rounded-l-lg focus:outline-none focus:shadow-outline-blue {{ classBtnEditar }}">Editar</button>
                        <button type="button"
                            class="bg-red-500 hover:bg-red-700 text-white px-4 py-2 rounded-r-lg focus:outline-none focus:shadow-outline-blue {{ classBtnEliminar }}">Eliminar</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endmacro %}

{% macro TablaVentas(ventas) %}
<div class="overflow-x-auto">
    <table
        class="table-auto w-3/4 text-center border-collapse border border-gray-500 mx-auto my-0 rounded-lg shadow-lg">
        <thead class="bg-gray-300 text-black">
            <tr>
                <th class="px-6 py-3 border border-gray-500">Id</th>
                <th class="px-6 py-3 border border-gray-500">MontoTotal</th>
                <th class="px-6 py-3 border border-gray-500">MetodoPago</th>
                <th class="px-6 py-3 border border-gray-500">idPedido</th>
            </tr>
        </thead>
        <tbody class="divide-y divide-gray-300">
            {% for venta in ventas %}
                <tr class="bg-gray-100 hover:bg-gray-200">
                    <td class="px-6 py-4 whitespace-nowrap border border-gray-500">{{ venta[0] }}</td>
                    <td class="px-6 py-4 whitespace-nowrap border border-gray-500">{{ venta[1] }}</td>
                    <td class="px-6 py-4 whitespace-nowrap border border-gray-500">{{ venta[2] }}</td>
                    <td class="px-6 py-4 whitespace-nowrap border border-gray-500">{{ venta[3] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endmacro %}


{% macro TablaResultado() %}
<table class="table-auto w-full text-center border-collapse border border-gray-500 mx-auto my-0 rounded-lg shadow-lg">
    <thead class="bg-gray-300 text-black">
        <tr>
            <th class="px-6 py-3 border border-gray-500">Fecha</th>
            <th class="px-6 py-3 border border-gray-500">Hora</th>
            <th class="px-6 py-3 border border-gray-500">No. Personas</th>
            <th class="px-6 py-3 border border-gray-500">Comentarios</th>
            <th class="px-6 py-3 border border-gray-500">Correo</th>
            <th class="px-6 py-3 border border-gray-500">Confirmado</th>
        </tr>
    </thead>
    <tbody class="divide-y divide-gray-300">
        <tr class="bg-gray-100 hover:bg-gray-200">
            <td class="px-6 py-4 whitespace-nowrap border border-gray-500">Sample</td>
            <td class="px-6 py-4 whitespace-nowrap border border-gray-500">Sample</td>
            <td class="px-6 py-4 whitespace-nowrap border border-gray-500">Sample</td>
            <td class="px-6 py-4 whitespace-nowrap border border-gray-500">Sample</td>
            <td class="px-6 py-4 whitespace-nowrap border border-gray-500">Sample</td>
            <td class="px-6 py-4 whitespace-nowrap border border-gray-500">Sin confirmar</td>
        </tr>
    </tbody>
</table>
{% endmacro %}

{% macro TablaPedidosOnline(usuario) %}
<div class="overflow-x-auto">
    <table
        class="table-auto w-full sm:w-3/4 text-center border-collapse border border-gray-500 mx-auto my-0 rounded-lg shadow-lg">
        <thead class="bg-gray-300 text-black">
            <tr>
                <th class="px-6 py-3 border border-gray-500">Id</th>
                <th class="px-6 py-3 border border-gray-500">Fecha</th>
                <th class="px-6 py-3 border border-gray-500">Hora</th>
                <th class="px-6 py-3 border border-gray-500">Ubicación</th>
                {% if usuario != 'Repartidor' %}
                    <th class="px-6 py-3 border border-gray-500">Estado de la orden</th>
                {% endif %}
                <th class="px-6 py-3 border border-gray-500">Estado de la entrega</th>
                <th class="px-6 py-3 border border-gray-500">Acciones</th>
            </tr>
        </thead>
        <tbody class="divide-y divide-gray-300">
            <tr class="bg-gray-100 hover:bg-gray-200">
                <td class="px-6 py-4 whitespace-nowrap border border-gray-500">1</td>
                <td class="px-6 py-4 whitespace-nowrap border border-gray-500">2023-05-06</td>
                <td class="px-6 py-4 whitespace-nowrap border border-gray-500">07:54</td>
                <td class="px-6 py-4 border border-gray-500 text-justify">177A Bleecker Street in New York City's Greenwich Village</td>
                {% if usuario != 'Repartidor' %}
                    <td class="px-6 py-4 whitespace-nowrap border border-gray-500">Listo</td>
                {% endif %}
                <td class="px-6 py-4 whitespace-nowrap border border-gray-500">En camino</td>
                <td class="px-6 py-4 whitespace-nowrap border border-gray-500">
                    <button type="button"
                        class="bg-blue-500 hover:bg-blue-700 text-white px-4 py-2 rounded-l-lg focus:outline-none focus:shadow-outline-blue btnModalEditarEdoPedidoOnline">Editar</button>
                    <button type="button"
                        class="bg-red-500 hover:bg-red-700 text-white px-4 py-2 rounded-r-lg focus:outline-none focus:shadow-outline-blue {{ classBtnEliminar }}">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endmacro %}
