{% macro TablaClientesIndex(Clientes) %}
<div class="relative overflow-x-auto shadow-md">
<table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
  <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-300 dark:text-gray-400">
          <tr>
                  <th scope="col" class="px-6 py-3">Nombre</th>
                  <th scope="col" class="px-6 py-3">Apellido</th>
                  <th scope="col" class="px-6 py-3">Correo</th>
                  <th scope="col" class="px-6 py-3">TelefonoContacto</th>
          </tr>
  </thead>
  <tbody>
          {% for cliente in Clientes %}
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                  <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{cliente[0]}}</td>
                  <td class="px-6 py-4">{{cliente[1]}}</td>
                  <td class="px-6 py-4">{{cliente[2]}}</td>
                  <td class="px-6 py-4">{{cliente[3]}}</td>
          </tr>
          {% endfor %}
  </tbody>
</table>
</div>
{% endmacro %}

{% macro TablaPersonal() %}
<div class="overflow-x-auto">
    <table
        class="table-auto w-3/4 text-center border-collapse border border-gray-500 mx-auto my-0 rounded-lg shadow-lg">
        <thead class="bg-gray-300 text-black">
            <tr>
                <th class="px-6 py-3 border border-gray-500">Id</th>
                <th class="px-6 py-3 border border-gray-500">RFC</th>
                <th class="px-6 py-3 border border-gray-500">Nombre</th>
                <th class="px-6 py-3 border border-gray-500">Apellido</th>
                <th class="px-6 py-3 border border-gray-500">Salario</th>
                <th class="px-6 py-3 border border-gray-500">Acciones</th>
            </tr>
        </thead>
        <tbody class="divide-y divide-gray-300">
            <tr class="bg-gray-100 hover:bg-gray-200">
                <td class="px-6 py-4 whitespace-nowrap border border-gray-500">Sample</td>
                <td class="px-6 py-4 whitespace-nowrap border border-gray-500">Sample</td>
                <td class="px-6 py-4 whitespace-nowrap border border-gray-500">Sample</td>
                <td class="px-6 py-4 whitespace-nowrap border border-gray-500">Sample</td>
                <td class="px-6 py-4 whitespace-nowrap border border-gray-500">Sample</td>
                <td class="px-6 py-4 whitespace-nowrap border border-gray-500">
                    <button type="button"
                        class="bg-blue-500 hover:bg-blue-700 text-white px-4 py-2 rounded-l-lg focus:outline-none focus:shadow-outline-blue">Editar</button>
                    <button type="button"
                        class="bg-red-500 hover:bg-red-700 text-white px-4 py-2 rounded-r-lg focus:outline-none focus:shadow-outline-blue">Eliminar</button>
                </td>
            </tr>
            <tr class="bg-gray-100 hover:bg-gray-200">
                <td class="px-6 py-4 whitespace-nowrap border border-gray-500">Sample</td>
                <td class="px-6 py-4 whitespace-nowrap border border-gray-500">Sample</td>
                <td class="px-6 py-4 whitespace-nowrap border border-gray-500">Sample</td>
                <td class="px-6 py-4 whitespace-nowrap border border-gray-500">Sample</td>
                <td class="px-6 py-4 whitespace-nowrap border border-gray-500">Sample</td>
                <td class="px-6 py-4 whitespace-nowrap border border-gray-500">
                    <button type="button"
                        class="bg-blue-500 hover:bg-blue-700 text-white px-4 py-2 rounded-l-lg focus:outline-none focus:shadow-outline-blue">Editar</button>
                    <button type="button"
                        class="bg-red-500 hover:bg-red-700 text-white px-4 py-2 rounded-r-lg focus:outline-none focus:shadow-outline-blue">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endmacro %}

{% macro TablaIngredientesProductos() %}
<div class="overflow-x-auto">
    <table
        class="table-auto w-3/4 text-center border-collapse border border-gray-500 mx-auto my-0 rounded-lg shadow-lg">
        <thead class="bg-gray-300 text-black">
            <tr>
                <th class="px-6 py-3 border border-gray-500">Ingredientes</th>
                <th class="px-6 py-3 border border-gray-500">Stock</th>
                <th class="px-6 py-3 border border-gray-500">Acciones</th>
            </tr>
        </thead>
        <tbody class="divide-y divide-gray-300">
            <tr class="bg-gray-100 hover:bg-gray-200">
                <td class="px-6 py-4 whitespace-nowrap border border-gray-500">Sample</td>
                <td class="px-6 py-4 whitespace-nowrap border border-gray-500">Sample</td>
                <td class="px-6 py-4 whitespace-nowrap border border-gray-500">
                    <button type="button"
                        class="bg-blue-500 hover:bg-blue-700 text-white px-4 py-2 rounded-l-lg focus:outline-none focus:shadow-outline-blue">Editar</button>
                    <button type="button"
                        class="bg-red-500 hover:bg-red-700 text-white px-4 py-2 rounded-r-lg focus:outline-none focus:shadow-outline-blue">Eliminar</button>
                </td>
            </tr>
            <tr class="bg-gray-100 hover:bg-gray-200">
                <td class="px-6 py-4 whitespace-nowrap border border-gray-500">Sample</td>
                <td class="px-6 py-4 whitespace-nowrap border border-gray-500">Sample</td>
                <td class="px-6 py-4 whitespace-nowrap border border-gray-500">
                    <button type="button"
                        class="bg-blue-500 hover:bg-blue-700 text-white px-4 py-2 rounded-l-lg focus:outline-none focus:shadow-outline-blue">Editar</button>
                    <button type="button"
                        class="bg-red-500 hover:bg-red-700 text-white px-4 py-2 rounded-r-lg focus:outline-none focus:shadow-outline-blue">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endmacro %}

{% macro TablaMesas() %}
<div class="overflow-x-auto">
    <table
        class="table-auto w-3/4 text-center border-collapse border border-gray-500 mx-auto my-0 rounded-lg shadow-lg">
        <thead class="bg-gray-300 text-black">
            <tr>
                <th class="px-6 py-3 border border-gray-500">Número</th>
                <th class="px-6 py-3 border border-gray-500">Capacidad</th>
                <th class="px-6 py-3 border border-gray-500">Disponibilidad</th>
                <th class="px-6 py-3 border border-gray-500">Acciones</th>
            </tr>
        </thead>
        <tbody class="divide-y divide-gray-300">
            <tr class="bg-gray-100 hover:bg-gray-200">
                <td class="px-6 py-4 whitespace-nowrap border border-gray-500">Sample</td>
                <td class="px-6 py-4 whitespace-nowrap border border-gray-500">Sample</td>
                <td class="px-6 py-4 whitespace-nowrap border border-gray-500">Sample</td>
                <td class="px-6 py-4 whitespace-nowrap border border-gray-500">
                    <button type="button"
                        class="bg-blue-500 hover:bg-blue-700 text-white px-4 py-2 rounded-l-lg focus:outline-none focus:shadow-outline-blue">Editar</button>
                    <button type="button"
                        class="bg-red-500 hover:bg-red-700 text-white px-4 py-2 rounded-r-lg focus:outline-none focus:shadow-outline-blue">Eliminar</button>
                </td>
            </tr>
            <tr class="bg-gray-100 hover:bg-gray-200">
                <td class="px-6 py-4 whitespace-nowrap border border-gray-500">Sample</td>
                <td class="px-6 py-4 whitespace-nowrap border border-gray-500">Sample</td>
                <td class="px-6 py-4 whitespace-nowrap border border-gray-500">Sample</td>
                <td class="px-6 py-4 whitespace-nowrap border border-gray-500">
                    <button type="button"
                        class="bg-blue-500 hover:bg-blue-700 text-white px-4 py-2 rounded-l-lg focus:outline-none focus:shadow-outline-blue">Editar</button>
                    <button type="button"
                        class="bg-red-500 hover:bg-red-700 text-white px-4 py-2 rounded-r-lg focus:outline-none focus:shadow-outline-blue">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endmacro %}

{% macro TablaIngredientes() %}
<div class="overflow-x-auto">
    <table class="table-auto w-3/4 text-center border-collapse border border-gray-500 mx-auto my-0 rounded-lg shadow-lg">
        <thead class="bg-gray-300 text-black">
            <tr>
                <th class="px-6 py-3 border border-gray-500">Ingredientes</th>
                <th class="px-6 py-3 border border-gray-500">Stock</th>
                <th class="px-6 py-3 border border-gray-500">Acciones</th>
            </tr>
        </thead>
        <tbody class="divide-y divide-gray-300">
            <tr class="bg-gray-100 hover:bg-gray-200">
                <td class="px-6 py-4 whitespace-nowrap border border-gray-500">Sample</td>
                <td class="px-6 py-4 whitespace-nowrap border border-gray-500">Sample</td>
                <td class="px-6 py-4 whitespace-nowrap border border-gray-500">
                    <button type="button" class="bg-blue-500 hover:bg-blue-700 text-white px-4 py-2 rounded-l-lg focus:outline-none focus:shadow-outline-blue">Editar</button>
                    <button type="button" class="bg-red-500 hover:bg-red-700 text-white px-4 py-2 rounded-r-lg focus:outline-none focus:shadow-outline-blue">Eliminar</button>
                </td>
            </tr>
            <tr class="bg-gray-100 hover:bg-gray-200">
                <td class="px-6 py-4 whitespace-nowrap border border-gray-500">Sample</td>
                <td class="px-6 py-4 whitespace-nowrap border border-gray-500">Sample</td>
                <td class="px-6 py-4 whitespace-nowrap border border-gray-500">
                    <button type="button" class="bg-blue-500 hover:bg-blue-700 text-white px-4 py-2 rounded-l-lg focus:outline-none focus:shadow-outline-blue">Editar</button>
                    <button type="button" class="bg-red-500 hover:bg-red-700 text-white px-4 py-2 rounded-r-lg focus:outline-none focus:shadow-outline-blue">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endmacro %}

{% macro TablaProductos() %}
<div class="overflow-x-auto">
    <table
        class="table-auto w-3/4 text-center border-collapse border border-gray-500 mx-auto my-0 rounded-lg shadow-lg">
        <thead class="bg-gray-300 text-black">
            <tr>
                <th class="px-6 py-3 border border-gray-500">Nombre</th>
                <th class="px-6 py-3 border border-gray-500">Tipo</th>
                <th class="px-6 py-3 border border-gray-500">Precio</th>
                <th class="px-6 py-3 border border-gray-500">Ingredientes</th>
                <th class="px-6 py-3 border border-gray-500">Acciones</th>
            </tr>
        </thead>
        <tbody class="divide-y divide-gray-300">
            <tr class="bg-gray-100 hover:bg-gray-200">
                <td class="px-6 py-4 whitespace-nowrap border border-gray-500">Sample</td>
                <td class="px-6 py-4 whitespace-nowrap border border-gray-500">Sample</td>
                <td class="px-6 py-4 whitespace-nowrap border border-gray-500">Sample</td>
                <td class="px-6 py-4 whitespace-nowrap border border-gray-500">
                    <button type="button"
                        class="bg-blue-500 hover:bg-blue-700 text-white px-4 py-2 rounded-lg focus:outline-none focus:shadow-outline-blue">Más</button>
                </td>
                <td class="px-6 py-4 whitespace-nowrap border border-gray-500">
                    <button type="button"
                        class="bg-blue-500 hover:bg-blue-700 text-white px-4 py-2 rounded-l-lg focus:outline-none focus:shadow-outline-blue">Editar</button>
                    <button type="button"
                        class="bg-red-500 hover:bg-red-700 text-white px-4 py-2 rounded-r-lg focus:outline-none focus:shadow-outline-blue">Eliminar</button>
                </td>
            </tr>
            <tr class="bg-gray-100 hover:bg-gray-200">
                <td class="px-6 py-4 whitespace-nowrap border border-gray-500">Sample</td>
                <td class="px-6 py-4 whitespace-nowrap border border-gray-500">Sample</td>
                <td class="px-6 py-4 whitespace-nowrap border border-gray-500">Sample</td>
                <td class="px-6 py-4 whitespace-nowrap border border-gray-500">
                    <button type="button"
                        class="bg-blue-500 hover:bg-blue-700 text-white px-4 py-2 rounded-lg focus:outline-none focus:shadow-outline-blue">Más</button>
                </td>
                <td class="px-6 py-4 whitespace-nowrap border border-gray-500">
                    <button type="button"
                        class="bg-blue-500 hover:bg-blue-700 text-white px-4 py-2 rounded-l-lg focus:outline-none focus:shadow-outline-blue">Editar</button>
                    <button type="button"
                        class="bg-red-500 hover:bg-red-700 text-white px-4 py-2 rounded-r-lg focus:outline-none focus:shadow-outline-blue">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endmacro %}


{% macro TablaReservas() %}
<div class="overflow-x-auto">
    <table
        class="table-auto w-3/4 text-center border-collapse border border-gray-500 mx-auto my-0 rounded-lg shadow-lg">
        <thead class="bg-gray-300 text-black">
            <tr>
                <th class="px-6 py-3 border border-gray-500">Fecha</th>
                <th class="px-6 py-3 border border-gray-500">Hora</th>
                <th class="px-6 py-3 border border-gray-500">Cantidad de personas</th>
                <th class="px-6 py-3 border border-gray-500">Comentarios</th>
                <th class="px-6 py-3 border border-gray-500">Correo cliente</th>
                <th class="px-6 py-3 border border-gray-500">Acciones</th>
            </tr>
        </thead>
        <tbody class="divide-y divide-gray-300">
            <tr class="bg-gray-100 hover:bg-gray-200">
                <td class="px-6 py-4 whitespace-nowrap border border-gray-500">Sample</td>
                <td class="px-6 py-4 whitespace-nowrap border border-gray-500">Sample</td>
                <td class="px-6 py-4 whitespace-nowrap border border-gray-500">Sample</td>
                <td class="px-6 py-4 whitespace-nowrap border border-gray-500">Sample</td>
                <td class="px-6 py-4 whitespace-nowrap border border-gray-500">Sample</td>
                <td class="px-6 py-4 whitespace-nowrap border border-gray-500">
                    <button type="button"
                        class="bg-blue-500 hover:bg-blue-700 text-white px-4 py-2 rounded-l-lg focus:outline-none focus:shadow-outline-blue">Editar</button>
                    <button type="button"
                        class="bg-red-500 hover:bg-red-700 text-white px-4 py-2 rounded-r-lg focus:outline-none focus:shadow-outline-blue">Eliminar</button>
                </td>
            </tr>
            <tr class="bg-gray-100 hover:bg-gray-200">
                <td class="px-6 py-4 whitespace-nowrap border border-gray-500">Sample</td>
                <td class="px-6 py-4 whitespace-nowrap border border-gray-500">Sample</td>
                <td class="px-6 py-4 whitespace-nowrap border border-gray-500">Sample</td>
                <td class="px-6 py-4 whitespace-nowrap border border-gray-500">Sample</td>
                <td class="px-6 py-4 whitespace-nowrap border border-gray-500">Sample</td>
                <td class="px-6 py-4 whitespace-nowrap border border-gray-500">
                    <button type="button"
                        class="bg-blue-500 hover:bg-blue-700 text-white px-4 py-2 rounded-l-lg focus:outline-none focus:shadow-outline-blue">Editar</button>
                    <button type="button"
                        class="bg-red-500 hover:bg-red-700 text-white px-4 py-2 rounded-r-lg focus:outline-none focus:shadow-outline-blue">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endmacro %}

{% macro TablaClientes() %}
<div class="overflow-x-auto">
    <table
        class="table-auto w-3/4 text-center border-collapse border border-gray-500 mx-auto my-0 rounded-lg shadow-lg">
        <thead class="bg-gray-300 text-black">
            <tr>
                <th class="px-6 py-3 border border-gray-500">Nombre</th>
                <th class="px-6 py-3 border border-gray-500">Apellido</th>
                <th class="px-6 py-3 border border-gray-500">Correo</th>
                <th class="px-6 py-3 border border-gray-500">Telefono</th>
                <th class="px-6 py-3 border border-gray-500">Acciones</th>
            </tr>
        </thead>
        <tbody class="divide-y divide-gray-300">
            <tr class="bg-gray-100 hover:bg-gray-200">
                <td class="px-6 py-4 whitespace-nowrap border border-gray-500">Sample</td>
                <td class="px-6 py-4 whitespace-nowrap border border-gray-500">Sample</td>
                <td class="px-6 py-4 whitespace-nowrap border border-gray-500">Sample</td>
                <td class="px-6 py-4 whitespace-nowrap border border-gray-500">Sample</td>
                <td class="px-6 py-4 whitespace-nowrap border border-gray-500">
                    <button type="button"
                        class="bg-blue-500 hover:bg-blue-700 text-white px-4 py-2 rounded-l-lg focus:outline-none focus:shadow-outline-blue">Editar</button>
                    <button type="button"
                        class="bg-red-500 hover:bg-red-700 text-white px-4 py-2 rounded-r-lg focus:outline-none focus:shadow-outline-blue">Eliminar</button>
                </td>
            </tr>
            <tr class="bg-gray-100 hover:bg-gray-200">
                <td class="px-6 py-4 whitespace-nowrap border border-gray-500">Sample</td>
                <td class="px-6 py-4 whitespace-nowrap border border-gray-500">Sample</td>
                <td class="px-6 py-4 whitespace-nowrap border border-gray-500">Sample</td>
                <td class="px-6 py-4 whitespace-nowrap border border-gray-500">Sample</td>
                <td class="px-6 py-4 whitespace-nowrap border border-gray-500">
                    <button type="button"
                        class="bg-blue-500 hover:bg-blue-700 text-white px-4 py-2 rounded-l-lg focus:outline-none focus:shadow-outline-blue">Editar</button>
                    <button type="button"
                        class="bg-red-500 hover:bg-red-700 text-white px-4 py-2 rounded-r-lg focus:outline-none focus:shadow-outline-blue">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endmacro %}

{% macro TablaVentas() %}
<div class="overflow-x-auto">
    <table
        class="table-auto w-3/4 text-center border-collapse border border-gray-500 mx-auto my-0 rounded-lg shadow-lg">
        <thead class="bg-gray-300 text-black">
            <tr>
                <th class="px-6 py-3 border border-gray-500">Id</th>
                <th class="px-6 py-3 border border-gray-500">Fecha</th>
                <th class="px-6 py-3 border border-gray-500">Hora</th>
                <th class="px-6 py-3 border border-gray-500">Total</th>
                <th class="px-6 py-3 border border-gray-500">Acciones</th>
            </tr>
        </thead>
        <tbody class="divide-y divide-gray-300">
            <tr class="bg-gray-100 hover:bg-gray-200">
                <td class="px-6 py-4 whitespace-nowrap border border-gray-500">Sample</td>
                <td class="px-6 py-4 whitespace-nowrap border border-gray-500">Sample</td>
                <td class="px-6 py-4 whitespace-nowrap border border-gray-500">Sample</td>
                <td class="px-6 py-4 whitespace-nowrap border border-gray-500">Sample</td>
                <td class="px-6 py-4 whitespace-nowrap border border-gray-500">
                    <button type="button"
                        class="bg-blue-500 hover:bg-blue-700 text-white px-4 py-2 rounded-l-lg focus:outline-none focus:shadow-outline-blue">Editar</button>
                    <button type="button"
                        class="bg-red-500 hover:bg-red-700 text-white px-4 py-2 rounded-r-lg focus:outline-none focus:shadow-outline-blue">Eliminar</button>
                </td>
            </tr>
            <tr class="bg-gray-100 hover:bg-gray-200">
                <td class="px-6 py-4 whitespace-nowrap border border-gray-500">Sample</td>
                <td class="px-6 py-4 whitespace-nowrap border border-gray-500">Sample</td>
                <td class="px-6 py-4 whitespace-nowrap border border-gray-500">Sample</td>
                <td class="px-6 py-4 whitespace-nowrap border border-gray-500">Sample</td>
                <td class="px-6 py-4 whitespace-nowrap border border-gray-500">
                    <button type="button"
                        class="bg-blue-500 hover:bg-blue-700 text-white px-4 py-2 rounded-l-lg focus:outline-none focus:shadow-outline-blue">Editar</button>
                    <button type="button"
                        class="bg-red-500 hover:bg-red-700 text-white px-4 py-2 rounded-r-lg focus:outline-none focus:shadow-outline-blue">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endmacro %}


{% macro TablaResultado() %}
<table>
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Hora</th>
      <th>No. Personas</th>
      <th>Comentarios</th>
      <th>Correo</th>
      <th>Confirmado</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Sample</td>
      <td>Sample</td>
      <td>Sample</td>
      <td>Sample</td>
      <td>Sample</td>
      <td>Sin confirmar</td>
    </tr>
  </tbody>
</table>
{% endmacro %}

{% macro TablaPedidosOnline() %}
<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Fecha</th>
      <th>Hora</th>
      <th>Estado de la orden</th>
      <th>Estado de la entrega</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Sample</td>
      <td>Sample</td>
      <td>Sample</td>
      <td>Sample</td>
      <td>Sample</td>
      <td>
        <button type="button">Editar</button>
        <button type="button">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>
{% endmacro %}
