<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
                <link href="{{url_for('static',filename='css/main.css')}}" rel="stylesheet">
		<title>Admin - Personal</title>
	</head>
	<body>
	{% import "macros/Navbar.html" as macroNavbar %}
	{% import "macros/Botones.html" as macroBotones %}
	{{ macroNavbar.Navbar() }}
        <h1 class="text-lg text-center font-bold my-4">Personal</h1>
	{% import "macros/Tablas.html" as macroTablas %}
	{{ macroTablas.TablaPersonal() }}
        {{ macroBotones.BotonAgregar() }}
	</body>
</html>

