<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
		<link  rel="stylesheet" href="{{ url_for('static', filename='css/estilosAdmin.css')}}">
		<title>Admin - Reservas</title>
	</head>
	<body>
        {% import "macros/Navbar.html" as macroNavbar %}
        {{ macroNavbar.Navbar() }}
        <h1>Reservas</h1>
        {% import "macros/Tablas.html" as macroTablas %}
        {{ macroTablas.TablaReservas() }}
	<button type="button">Agregar</button>
	</body>
</html>

