<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
                <link href="{{url_for('static',filename='css/main.css')}}" rel="stylesheet">
		<title>Index</title>
	</head>
	<body>
        {% import "macros/Navbar.html" as macroNavbar %}
        {{ macroNavbar.Navbar() }}
	<div
    class="mx-auto mt-20 container grid grid-cols-1 sm:grid-cols-3 gap-1 w-full sm:w-3/4 sm:gap-x-20 md:gap-x-28 sm:gap-y-10 content-center">
    	<div class="grid grid-rows-5 py-2 gap-y-5" onclick="location.href='/adminClientes'">
        	<div class="bg-gray-400 row-span-4">
        	</div>
        	<p class="row-span-1 font-bold text-center">Clientes</p>
    	</div>
    	<div class="grid grid-rows-5 py-2 gap-y-5" onclick="location.href='/adminIngredientes'">
        	<div class="bg-gray-400 row-span-4">
        	</div>
        	<p class="row-span-1 font-bold text-center">Ingredientes</p>
    	</div>
    	<div class="grid grid-rows-5 py-2 gap-y-5" onclick="location.href='/adminMesas'">
        	<div class="bg-gray-400 row-span-4">
        	</div>
        	<p class="row-span-1 font-bold text-center">Mesas</p>
    	</div>
    	<div class="grid grid-rows-5 py-2 gap-y-5" onclick="location.href='/adminPersonal'">
        	<div class="bg-gray-400 row-span-4">
        	</div>
        	<p class="row-span-1 font-bold text-center">Personal</p>
    	</div>
    	<div class="grid grid-rows-5 py-2 gap-y-5" onclick="location.href='/adminProductos'">
        	<div class="bg-gray-400 row-span-4">
        	</div>
        	<p class="row-span-1 font-bold text-center">Productos</p>
    	</div>
    	<div class="grid grid-rows-5 py-2 gap-y-5" onclick="location.href='/adminProductosIngredientes'">
        	<div class="bg-gray-400 row-span-4">
        	</div>
        	<p class="row-span-1 font-bold text-center">Productos Ingredientes</p>
    	</div>
    	<div class="grid grid-rows-5 py-2 gap-y-5" onclick="location.href='/adminReservas'">
        	<div class="bg-gray-400 row-span-4">
	        </div>
        	<p class="row-span-1 font-bold text-center">Reservas</p>
	    </div>
		<div class="grid grid-rows-5 py-2 gap-y-5" onclick="location.href='/adminVentas'">
        	<div class="bg-gray-400 row-span-4">
	        </div>
        	<p class="row-span-1 font-bold text-center">Ventas</p>
	    </div>
	</div>
	</body>
</html>

