<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
		<link href="{{url_for('static',filename='css/main.css')}}" rel="stylesheet">
		<script src="{{url_for('static',filename='js/all.min.js')}}"></script>
		<title>Index</title>
	</head>
	<body>
		<div class="botonesPrincipales flex justify-around items-center border border-gray-600 mt-40">
			<button
				class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
				type="button" onclick="location.href='/loginAdmin'">
				Index Admin
			</button>
			<button
				class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
				type="button" onclick="location.href='/indexChef'">
				Index Chef
			</button>
			<button
				class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
				type="button" onclick="location.href='/indexEmpleado'">
				Index Empleado
			</button>
			<button
				class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
				type="button" onclick="location.href='/indexCliente'">
				Index Cliente
			</button>
		</div>
	</body>
</html>

